<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <variable name="logDirectory" value="${basedir}\Logs"/>

  <targets>  
        <target xsi:type="File" name="file"
                    fileName="${logDirectory}\allMsg.log"
                    layout="[${longdate}] [${level:uppercase=false}] ${message} ${onexception:${exception:format=type,method,sourceFile,sourceLineNumber,stacktrace}"
                    archiveFileName="${logDirectory}\${shortdate}\allMsgArchive{###}.log"
                    maxArchiveFiles="100"
                    archiveAboveSize="10240000"
                    archiveNumbering="Sequence"
                    concurrentWrites="true"
                    keepFileOpen="true"
                    encoding="utf-8"/>
    
          <target xsi:type="Console" name="ColoredConsole"
                    layout="[${longdate}] [${level:uppercase=false}] ${message} ${onexception:${exception:format=type,method,sourceFile,sourceLineNumber,stacktrace}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file"/>
    <logger name="*" minlevel="Trace" writeTo="ColoredConsole"/>
  </rules>
</nlog>
